:root {
  /*Primary Colors*/
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);

  /*Secondary Colors*/
  --transparent-white: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
  --light-gray: hsl(0, 0%, 95%); /*background, headings, buttions*/

  font-size: 15px;
  @font-face {
    font-family: "Big Shoulders Display", cursive;
    src: url('"https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700');
  }

  @font-face {
    font-family: "Lexend Deca", sans-serif;
    src: url('"https://fonts.googleapis.com/css2?family=Lexend+Deca@display=swap');
  }
}

body {
  background-color: var(--light-gray);
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  justify-content: center;
  align-content: center;
  margin-top: 2%;
  height: 100vh;
  width: 80%;
  margin-left: 20%;
}

.card-div {
  height: 25rem;
  width: 18rem;
  margin-right: 0;
  margin-left: 0;
  color: var(--transparent-white);
  padding-left: 1rem;
  padding-top: 2rem;
}
.div1 {
  background-color: var(--orange);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.div2 {
  background-color: var(--cyan);
}
.div3 {
  background-color: var(--dark-cyan);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

img {
  padding-bottom: 1.5rem;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
}

p {
  font-family: "Lexend Deca", sans-serif;
  padding-right: 4rem;
}

.card-button {
  margin-top: 4rem;
  margin-left: 2rem;
  height: 2.5rem;
  width: 8rem;
  border: none;
  border-radius: 100px 100px 100px 100px;
}

.card-button:hover {
  cursor: pointer;
}

.button1 {
  color: var(--orange);
}

.button2 {
  color: var(--cyan);
}

.button3 {
  color: var(--dark-cyan);
}

@media screen and (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
    height: 150vh;
    width: 80%;
    margin-left: 3.5rem;
    margin-right: 3rem;
  }

  .div1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  .div3 {
    background-color: var(--dark-cyan);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .card-button {
    margin-top: 2rem;
    margin-left: 2rem;
    height: 3rem;
    width: 8rem;
    border: none;
    border-radius: 100px 100px 100px 100px;
  }
}
